.empresa{
    min-height: 110vh;
}
.em-option{
    position: absolute;
    width: 18%;
    height: 100%;
    top: 20%;
    padding-top: 5%;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 10px;
    border-top: 1px solid rgb(46, 43, 43);
}
.option-inde{
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(46, 43, 43);
}
.opc_opt{
    position: relative;
    margin-left: 20px;
    bottom: 18px;
}
.em-information{
    width: 80%;
    position: absolute;
    left: 20%;
    width: 80%;
}
.em-name{
    background-color: #C1E0E9;
    color: #66ABBF;
    text-align: center;
    height: 160px;
    border-radius: 10px 0px 0px 10px;
    box-shadow: 1px 1px 1px 1px  rgba(0,0,0,0.50);
}
.em-forname{
    position: relative;
    top: 35%;
    font-size: 250%;
    font-weight: bold;
}
.form-data{
    position: relative;
    width: 98%;
    margin-top: 50px;
    padding-left: 10px;
}
.data-cont{
    background-color: #C1E0E9;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 1px 1px 1px 1px  rgba(0,0,0,0.50);
    width: 30%;
    position: relative;
    left: 60%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 50px;
    
}
.ent-em{
    position: relative;
    margin-top: 5%;
}
.Desc{
    width: 45%;
    position: absolute;
    top: 10%;
    left: 6%;
}
.emform-text{
    font-weight: bold;
}